<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Đăng bài hát mới</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hợp âm Thụy khúc - Ngồi đây [Em] với nỗi nhớ đong đầy
Tình yêu đã [D] mang ta đi nơi nào
[C] Nghe con...">
    <meta name="keywords"
          content="hop am Thuy khuc, hợp âm Thụy khúc, Thụy khúc tab, Thụy khúc hop am guitar, Thụy khúc hop am viet, lời bài hát Thụy khúc, hợp âm việt">
    <meta property="fb:pages" content="283358615146535"/>
    <meta name="msvalidate.01" content="A4F771C443186B3AF5E98657276995A5"/>
    <meta name="google-site-verification" content="BbYXdvNF4HGGBJqlGAWP7qLWZ4CVqIRczLv8FBZBvJo"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="../assets/css/bootstrap-editable.css" rel="stylesheet">
    <link href="../assets/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">
    <link href="../assets/jplayer/skin/blue.monday/css/jplayer.blue.monday.css" rel="stylesheet">
    <link rel="canonical" href="https://hopamviet.vn/chord/song/thuy-khuc/W8IU67WC.html">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="../assets/js/bootstrap-typeahead.min.js"></script>
    <script src="../assets/js/bootstrap-editable.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78385107-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-78385107-1');
    </script>
    <script src="https://hopamviet.vn/assets/js/custom.js"></script>
</head>
<body>
<style>
    div.dropdown-multicol {
        width: 35em;
    }

    div.dropdown-row > a.dropdown-item {
        display: inline-block;
        width: 32%;
    }

    .navbar-nav li:hover .dropdown-menu {
        display: block;
    }
</style>
<!-- Global navigation;-->
<div th:replace="includes/globalNav" th:remove="tag"></div>

<div class="container pt-3">
    <div class="row">
        <div class="col-lg-8">
            <div class="ct-box">
                <div class="ibar mt-2" id="22571">
                    <div>
                        <h1 class="h3 d-inline-block">Đăng bài hát mới</h1>
                        <form action="#" th:action="@{/save}" th:object="${song}" method="post">
                            <div class="form-group">

                                <label for="exampleFormControlTitle">Tên bài hát</label>
                                <input type="text" class="form-control" id="exampleFormControlTitle" th:field="*{title}"
                                       placeholder="Vd: Có chàng trai viết lên cây">

                                <label for="exampleFormControlArtist">Sáng tác</label>
                                <input type="text" class="form-control" id="exampleFormControlArtist"
                                       th:field="*{artist}" placeholder="Vd: Phan Mạnh Quỳnh">

                                <label for="exampleFormControlSinger">Ca sĩ thể hiện</label>
                                <input type="text" class="form-control" id="exampleFormControlSinger"
                                       th:field="*{singer}" placeholder="Vd: Mỹ Tâm">

                                <label for="exampleFormControlCategory">Thể loại</label>
                                <input type="text" class="form-control" id="exampleFormControlCategory"
                                       th:field="*{category}" placeholder="Vd: Nhạc trẻ">

                                <label for="textBoxChords">Hợp âm</label>
                                <textarea class="form-control" id="textBoxChords" rows="9"
                                          th:field="*{lyric}"></textarea>

                                <label for="exampleFormUploadbutton">Upload file có hợp âm sẵn</label>
                                <input type="file" class="form-control-file" id="exampleFormUploadbutton">

                                </br>
                                </br>

                                <button type="submit" class="btn btn-primary mb-2">Đăng</button>
                            </div>
                        </form>
                    </div>

                </div>
                <br/>
                <div id="toolbar" class="btn-toolbar">
                    <div class="btn-group mr-1">
                        <span class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top"
                              title="Giảm tone" onclick="changeStyle(document.getElementById('lyric'), 'b');">b</span>
                        <span class="btn btn-outline-secondary btn-sm disabled" data-toggle="tooltip"
                              data-placement="top">[Em]</span>
                        <span class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top"
                              title="Tăng tone" onclick="changeStyle(document.getElementById('lyric'), '#');">#</span>
                    </div>
                    <div class="btn-group mr-1">
                        <span class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top"
                              title="Tăng cuộn trang" onclick="startScroll();"><i class="fas fa-arrow-down"></i></span>
                        <span class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top"
                              title="Giảm cuộn trang" onclick="stopScroll();"><i class="fas fa-arrow-up"></i></span>
                    </div>
                    <div class="btn-group mr-1">
                        <span id="fontsize" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip"
                              data-placement="top" title="Cỡ chữ"><i class="fas fa-font fa-1x"></i></span>
                        <a href="https://hopamviet.vn/chord/printsong/thuy-khuc/W8IU67WC.html" target="_blank"
                           class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top"
                           title="In"><i class="fas fa-print"></i></a>
                        <span id="clone" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip"
                              data-placement="top" title="Nhân đôi lời">x2</span>
                    </div>
                </div>
                <br/>

                <div style="margin-left: -10px; margin-top: 10px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                    <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-2439726574577759" data-ad-slot="3091825225"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <hr>
                <h5><strong>Hợp âm guitar sử dụng</strong></h5>
                <div id="show_tab" class="row">
                </div>
                <hr>
                <div class="row p-right">
                </div>
                <div style="margin-left: -10px; margin-top: 10px">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-2439726574577759" data-ad-slot="5358140529"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <hr/>
                <div class="media">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div><a class="btn btn-info btn-block" href="/request" role="button">Nhấn vào đây để yêu cầu hợp âm bài
                hát</a></div>
            <div class="ct-box">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px"
                     data-ad-client="ca-pub-2439726574577759" data-ad-slot="5017713629"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="ct-box">
                <h5><strong>Công cụ bổ trợ soạn tab</strong>
                </h5>
                <div class="row">
                    <div class="col">
                        <h6>Main key:</h6>
                    </div>
                    <div class="col">
                        <h6>Secondary key:</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <select class="dropdown-toggle" id="gamSelect" required onchange="chordGenerator()">
                            <option value="support_keyC">C</option>
                            <option value="support_keyC">C#</option>
                            <option value="support_keyD">D</option>
                            <option value="support_keyC">D#</option>
                            <option value="support_keyE">E</option>
                            <option value="support_keyF">F</option>
                            <option value="support_keyC">F#</option>
                            <option value="support_keyG">G</option>
                            <option value="support_keyC">G#</option>
                            <option value="support_keyA">A</option>
                            <option value="support_keyC">A#</option>
                            <option value="support_keyB">B</option>
                        </select>
                    </div>
                    <div class="col">
                        <select id="2ndGamSelect" class="dropdown-toggle" required onchange="chordGenerator()">
                            <option value="support_2ndkeyA">Major</option>
                            <option value="support_2ndkeyB">Minor</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h6>Main key:</h6>
                    </div>
                    <div class="col">
                        <h6>Secondary key:</h6>
                    </div>
                </div>
                <div id="arrayButtonOfChords" class="row">

                </div>
                <div id="arrayButtonOfChordsContinue" class="row">

                </div>
            </div>
        </div>
    </div>

    <div id="musicModal" class="modal fade" tabindex="-1" role="dialog" aria-badgeledby="myModalbadge"
         aria-hidden="true">
        <form action="https://hopamviet.vn/chord/insert_song" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Thêm bài hát mới</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn chưa đăng nhập hoặc bài hát này không phải bạn đăng.
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div id="sheetModal" class="modal fade" tabindex="-1" role="dialog" aria-badgeledby="myModalbadge"
         aria-hidden="true">
        <form action="https://hopamviet.vn/chord/insert_sheet" enctype="multipart/form-data" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Thêm sheet nhạc</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn chưa đăng nhập hoặc bài hát này không phải của bạn đăng.
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn cần phải <a href="https://hopamviet.vn/auth/login.html">đăng nhập</a> để sử dụng chức năng
                    này!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3&appId=1441928299371054&autoLogAppEvents=1"></script>
    <script>
        /*$(document).ready(function() {
        $('#lyric').bind("cut copy paste", function(e) {
            e.preventDefault();
        });
    });*/
    </script>
    <script src="assets/js/raphael.js"></script>
    <script src="assets/js/jtab.js"></script>
    <script>
        //tu dong truot
        var scrollValue = 1;
        var scrolldelay;

        function stopScroll() {
            clearTimeout(scrolldelay);
        }

        function startScroll() {
            window.scrollBy(0, 1);
            if ($(window).scrollTop() > ($('#lyric').offset().top + $('#lyric').height() - $(window).height() / 4)) {
                stopScroll();
            } else {
                scrolldelay = setTimeout('startScroll()', 200 / scrollValue);
            }
        }

        //xo ca si the hien
        var song_expand = '<p>Xem thêm các ca sĩ khác <i class="fas fa-chevron-down"></i></p>';
        var song_collapse = '<p>Thu gọn <i class="fas fa-chevron-up"></i></p>';

        function show_fullsong() {
            if (document.getElementById('moresong').innerHTML == song_expand) {
                document.getElementById('fullsong').setAttribute('style', "overflow: auto;");
                document.getElementById('moresong').innerHTML = song_collapse;
            } else if (document.getElementById('fullsong').offsetHeight > 520) {
                document.getElementById('fullsong').setAttribute('style', "max-height: 460px; overflow: hidden;");
                document.getElementById('moresong').innerHTML = song_expand;
            }
        }

        show_fullsong();


    </script>
    ﻿
</div>
<div th:replace="includes/footer :: footer" th:remove="tag"></div>
<script src="assets/js/comment.js"></script>
<script src="assets/js/chordtools.js"></script>
</body>
</html>
