<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Danh sách hợp âm bài hát mới nhất - Hợp Âm Việt</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Danh sách những hợp âm mới cập nhật">
<meta name="keywords" content="hợp âm, hợp âm guitar, thư viện hợp âm, hợp âm chuẩn, đổi tông, hợp âm bài hát, hop am viet, nhạc có nốt, nhạc tờ, sheet, sheet nhạc, thông tin nhạc sĩ, chuyển đổi tông, chuyển đổi tone">
<meta property="fb:pages" content="283358615146535" />
<meta name="msvalidate.01" content="A4F771C443186B3AF5E98657276995A5" />
<meta name="google-site-verification" content="BbYXdvNF4HGGBJqlGAWP7qLWZ4CVqIRczLv8FBZBvJo" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://hopamviet.vn/assets/css/bootstrap-editable.css" rel="stylesheet">
<link href="https://hopamviet.vn/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="https://hopamviet.vn/assets/css/custom.css" rel="stylesheet">
<link href="https://hopamviet.vn/assets/jplayer/skin/blue.monday/css/jplayer.blue.monday.css" rel="stylesheet">
<link rel="canonical" href="https://hopamviet.vn/chord/latest/10.html">
<!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <![endif]-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://hopamviet.vn/assets/js/bootstrap-typeahead.min.js"></script>
<script src="https://hopamviet.vn/assets/js/bootstrap-editable.min.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78385107-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-78385107-1');
</script>
<script src="https://hopamviet.vn/assets/js/custom.js"></script>
</head>
<body>
<style>
	div.dropdown-multicol{
	  width: 35em;
	}
	div.dropdown-row>a.dropdown-item{
	  display:inline-block;
	  width: 32%;
	}
	.navbar-nav li:hover .dropdown-menu {
    	display: block;
	}
</style>
<nav class="navbar navbar-expand-xl navbar-light bg-light sticky-top">
<div class="container">
<a href="https://hopamviet.vn/" class="navbar-brand"><h3>Hợp Âm Việt</h3></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
<span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse" id="main_nav">
<ul class="navbar-nav mr-auto pr-4">
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="MenuTheLoai" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fas fa-book fa-lg"></i> Thể loại
</a>
<div class="dropdown-menu dropdown-multicol m-0" aria-labelledby="MenuTheLoai">
<div class="dropdown-row">
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/1/nhac-vang.html"><i class="fas fa-book"></i>&nbsp; Nhạc Vàng</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/2/nhac-tru-tinh.html"><i class="fas fa-book"></i>&nbsp; Nhạc Trữ tình</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/3/nhac-tre.html"><i class="fas fa-book"></i>&nbsp; Nhạc Trẻ</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/4/nhac-que-huong.html"><i class="fas fa-book"></i>&nbsp; Nhạc Quê hương</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/5/nhac-ngoai-loi-viet.html"><i class="fas fa-book"></i>&nbsp; Nhạc Ngoại lời Việt</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/6/nhac-do.html"><i class="fas fa-book"></i>&nbsp; Nhạc Đỏ</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/7/nhac-dan-ca.html"><i class="fas fa-book"></i>&nbsp; Nhạc Dân ca</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/8/nhac-quoc-te.html"><i class="fas fa-book"></i>&nbsp; Nhạc Quốc tế</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/9/nhac-hoc-tro.html"><i class="fas fa-book"></i>&nbsp; Nhạc Học trò</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/10/nhac-thieu-nhi.html"><i class="fas fa-book"></i>&nbsp; Nhạc Thiếu nhi</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/11/nhac-thanh-ca.html"><i class="fas fa-book"></i>&nbsp; Nhạc Thánh ca</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/12/nhac-phat-giao.html"><i class="fas fa-book"></i>&nbsp; Nhạc Phật giáo</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/category/13/nhac-che-vui.html"><i class="fas fa-book"></i>&nbsp; Nhạc Chế - Vui</a>
</div>
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="MenuDieu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fas fa-guitar fa-lg"></i> Điệu
</a>
<div class="dropdown-menu dropdown-multicol m-0" aria-labelledby="MenuDieu">
<div class="dropdown-row">
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/6/ballade.html"><i class="fas fa-guitar"></i>&nbsp; Ballade</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/5/blues.html"><i class="fas fa-guitar"></i>&nbsp; Blues</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/1/bolero.html"><i class="fas fa-guitar"></i>&nbsp; Boléro</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/15/bossa-nova.html"><i class="fas fa-guitar"></i>&nbsp; Bossa Nova</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/11/boston.html"><i class="fas fa-guitar"></i>&nbsp; Boston</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/7/chachacha.html"><i class="fas fa-guitar"></i>&nbsp; Chachacha</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/8/disco.html"><i class="fas fa-guitar"></i>&nbsp; Disco</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/12/fox.html"><i class="fas fa-guitar"></i>&nbsp; Fox</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/17/habanera.html"><i class="fas fa-guitar"></i>&nbsp; Habanera</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/19/march.html"><i class="fas fa-guitar"></i>&nbsp; March</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/20/pasodope.html"><i class="fas fa-guitar"></i>&nbsp; Pasodope</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/16/pop.html"><i class="fas fa-guitar"></i>&nbsp; Pop</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/22/rap.html"><i class="fas fa-guitar"></i>&nbsp; Rap</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/9/rhumba.html"><i class="fas fa-guitar"></i>&nbsp; Rhumba</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/13/rock.html"><i class="fas fa-guitar"></i>&nbsp; Rock</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/2/slow.html"><i class="fas fa-guitar"></i>&nbsp; Slow</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/21/slow-ballad.html"><i class="fas fa-guitar"></i>&nbsp; Slow Ballad</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/3/slow-rock.html"><i class="fas fa-guitar"></i>&nbsp; Slow Rock</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/4/slow-surf.html"><i class="fas fa-guitar"></i>&nbsp; Slow Surf</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/10/tango.html"><i class="fas fa-guitar"></i>&nbsp; Tango</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/18/twist.html"><i class="fas fa-guitar"></i>&nbsp; Twist</a>
<a class="dropdown-item" href="https://hopamviet.vn/chord/rhythm/14/valse.html"><i class="fas fa-guitar"></i>&nbsp; Valse</a>
</div>
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="MenuUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fas fa-user fa-lg"></i>
</a>
<div class="dropdown-menu m-0" aria-labelledby="MenuUser">
<a class="dropdown-item" href="https://hopamviet.vn/auth/login.html" rel="nofollow">Đăng nhập</a>
<a class="dropdown-item" href="https://hopamviet.vn/auth/register.html" rel="nofollow">Đăng ký</a>
</div>
</li>
</ul>
</div>
<form class="d-inline my-auto float-left w-100" method="get" action="https://hopamviet.vn/chord/search.html">
<div class="input-group m-0">
<input type="search" class="form-control" class="biginput" placeholder="Nhập tên bài hát, tên ca sĩ / @tên nhạc sĩ / lời" value="" name="song">
<span class="input-group-append">
<button class="btn btn-primary border border-left-0" type="submit">
<i class="fas fa-search"></i> Tìm
</button>
</span>
</div>
</form>
</div>
</nav>
<div class="container pt-3">
<div class="row">
<div class="col-lg-8">
<div class="ct-box">
<div class="ct-heading">BÀI HÁT MỚI ĐĂNG</div>
<div class="row p-right">
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/khep-doi-mi-buon/W8IU67ZZ.html">
Khép đôi mi buồn
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/2950/le-quang-thinh.html">Lê Quang Thịnh</a>
</small>
</h5>
<em>
1. Mình quen nhau từ [Dm] đó, từ khi tuổi học [Gm] trò
Từ những chiều hẹn [Dm] hò tan trường ai đón ai [Am] đưa
Từng đêm say mộng [Bb] thắm, mình có nhau trong [F] đời
Cùng trao&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Phùng Phát Đạt" class="csinger">Phùng Phát Đạt</a></em></small> <a href="https://hopamviet.vn/chord/category/2/nhac-tru-tinh.html"><span class="float-right text-muted small">Nhạc Trữ tình</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/em-chao-tet/W8IU67ZU.html">
Em chào Tết
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/2733/huynh-hien-nang.html">Huỳnh Hiền Năng</a>
</small>
</h5>
<em>
Vòng hợp âm: [C] [F] [Am] [G]
1. Tự nhiên [C] đang yên lành, thì bỗng cái vèo
[F] Tết đến làm lòng em thấy cheo leo
Tết [Am] ơi, biết không, em sợ [G] Tết như em sợ con&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Bích Phương" class="csinger">Bích Phương</a></em></small> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html"><span class="float-right text-muted small">Nhạc Trẻ</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/yeu-duong-gi-tam-nay/W8IU67ZO.html">
Yêu đương gì tầm này
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/2481/huynh-quoc-huy.html">Huỳnh Quốc Huy</a>
</small>
</h5>
<em>
Vòng hợp âm: [C] [G] [Am] [F]
1. [C] Mẹ bảo mày lo học cho tốt đi
[G] Mẹ nói còn bé mà yêu sớm chi
[Am] Đừng có học đòi đừng đừng có học đòi
[F] Nhớ thương ai&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Tăng Phúc" class="csinger">Tăng Phúc</a></em></small> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html"><span class="float-right text-muted small">Nhạc Trẻ</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/ok/W8IU67ZW.html">
OK
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/2820/binz.html">Binz</a>
</small>
</h5>
<em>
Vòng hợp âm: [Am] [Em] [G] [D]
“Hôm [Am] qua em hứa hẹn trăm [Em] đường
Hôm [G] nay khi thôi say em nói em [D] đùa
Hôm [Am] qua em vẫn rất dễ [Em] thương
Hôm [G] nay câu&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Binz" class="csinger">Binz</a></em></small> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html"><span class="float-right text-muted small">Nhạc Trẻ</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/bac-tai-oi/W8IU67ZI.html">
Bác tài ơi
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/3240/le-thien-hieu.html">Lê Thiện Hiếu</a>
</small>
</h5>
<em>
1. [C] Vẫn là những ngày thấy nhàm [Am] chán
[F] Quyết định ra đường tìm chút không [G] gian
Và [C] đi cùng anh con xe thời [Am] anh học lớp 3
[F] Bố anh vẫn chạy bao năm&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Lê Thiện Hiếu" class="csinger">Lê Thiện Hiếu</a></em></small> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html"><span class="float-right text-muted small">Nhạc Trẻ</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/tam-biet-cung-la-mot-nguoi-ban-zoi-gin-jik-si-pang-jau/W8IU67Z0.html">
 Tạm biệt cũng là một người bạn (Zoi gin jik si pang jau - 再見亦是朋友)
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/88/nhac-hoa.html">Nhạc Hoa</a>
</small>
</h5>
<em>
期望你轉身 與我相廝守
kei mong [C] nei zyun san jyu ngo [Am] soeng si sau
輾轉錯 錯了未願放手
zin zyun [F] co co liu mei jyun fong [G] sau
緣盡我早知 卻也等候
jyun zeon [C] ngo zou zi koek jaa dang [Am] hau&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/He Wanying & Zeng Hangsheng" class="csinger">He Wanying & Zeng Hangsheng</a></em></small> <a href="https://hopamviet.vn/chord/category/9/nhac-hoc-tro.html"><span class="float-right text-muted small">Nhạc Học trò</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/the-heart-of-the-moon/W8IU67UF.html">
The heart of the moon (明月心)
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/88/nhac-hoa.html">Nhạc Hoa</a>
</small>
</h5>
<em>
如果明月无心　那天空不会下雨
[Am] rú guǒ míng yuè [G] wú xīn nà [D] tiān kōng bù huì [F] xià yǔ
如果大海有情　沙滩不会沈睡
[Am] rú guǒ dà hǎi [G] yǒu qíng [F] shā tān bù huì shěn [E7] shuì
你就像那大海　我就是那明月
[Am] nǐ jiù xiàng&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Sally Yeh" class="csinger">Sally Yeh</a></em></small> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html"><span class="float-right text-muted small">Nhạc Trẻ</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/mot-tram-trieu-lan-dau-y-yi-ge-shng-xn/W8IU67UE.html">
Một trăm triệu lần đau (Yī yì gè shāng xīn - 一亿个伤心)
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/88/nhac-hoa.html">Nhạc Hoa</a>
</small>
</h5>
<em>
[C][D][Bm][Em][C][D][G]-[C][D][Bm][Em][C][D][G]
烟灰已堆满床头
yān huī [Em] yǐ duī mǎn chuáng [D] tóu
酒杯塞住下的楼
jiǔ bēi [C] sāi zhù xià dí [G] lóu
唯一照片已经被猫叼走
wéi yī [Em] zhào piàn yǐ jīng bèi [D] māo diāo [EM] zǒu
早知道这么难受
zǎo zhī [Em] dào&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Meng Mian Ge" class="csinger">Meng Mian Ge</a></em></small> <a href="https://hopamviet.vn/chord/category/8/nhac-quoc-te.html"><span class="float-right text-muted small">Nhạc Quốc tế</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/hy-vong/W8IU67UD.html">
Hy vọng
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/1042/nhac-han-quoc.html">Nhạc Hàn Quốc</a>
</small>
</h5>
<em>
Intro: [Em][Am7][Em][F#m7][B7]
Trời mùa đông giá [Em] băng
Bao ngôi sao đêm nay như mong trời vỡ [Am7] tan
Em nghe con tim đang nhói [G] đau
Vì một người đã lặng lẽ đã [F#m7] rời xa em.
Cho [B7]&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Bảo Thy" class="csinger">Bảo Thy</a></em></small> <a href="https://hopamviet.vn/chord/category/5/nhac-ngoai-loi-viet.html"><span class="float-right text-muted small">Nhạc Ngoại lời Việt</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
<div class="col-md-12">
<h5>
<i class="fas fa-guitar fa-fw"></i>
<a href="https://hopamviet.vn/chord/song/quang-het-lo-di/W8IU67UC.html">
Quẳng hết lo đi
</a>
<small> &nbsp;<i class="fas fa-user"></i> Sáng tác:
<a href="https://hopamviet.vn/chord/composer/1887/khuong-ngoc.html">Khương Ngọc</a>
</small>
</h5>
<em>
Vòng hợp âm: [Am] [F] [C] [G]
[Am] Đường đời còn lắm bi [F] hài
Chẳng ai dám nói trước ngày [C] mai
Sống vui hôm [G] nay
Cười tươi đón vạn điều [Am] may
Lắm lúc chẳng muốn gặp&#8230; </em>
<br />
<small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Khương Ngọc" class="csinger">Khương Ngọc</a></em></small> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html"><span class="float-right text-muted small">Nhạc Trẻ</span></a>
<div class="clearfix"></div>
<div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
</div>
</div>

<div class="pagging text-center"><nav><ul class="pagination"><li class="page-item"><span class="page-link"><a href="https://hopamviet.vn/chord/latest/">1</a></span></li><li class="page-item active"><span class="page-link">2<span class="sr-only">(current)</span></span></li><li class="page-item"><span class="page-link"><a href="https://hopamviet.vn/chord/latest/20">3</a></span></li><li class="page-item"><span class="page-link"><a href="https://hopamviet.vn/chord/latest/30">4</a></span></li><li class="page-item"><span class="page-link"><a href="https://hopamviet.vn/chord/latest/90">>></a></span></li></ul></nav></div>
</div>
</div>
<div class="col-lg-4">
<div class="ct-box">
<div align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-2439726574577759" data-ad-slot="6494446823"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<div class="ct-box">
<h5><strong>Thư viện sheet nhạc</strong></h5>
<a href="https://hopamviet.vn/sheet"><span class="badge badge-pill badge-secondary">Tất cả sheet</span></a>
<a href="https://hopamviet.vn/sheet/category/1/nhac-vang.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Vàng</span></a>
<a href="https://hopamviet.vn/sheet/category//2/nhac-tru-tinh.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Trữ tình</span></a>
<a href="https://hopamviet.vn/sheet/category/3/nhac-tre.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Trẻ</span></a>
<a href="https://hopamviet.vn/sheet/category/4/nhac-que-huong.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Quê hương</span></a>
<a href="https://hopamviet.vn/sheet/category/5/nhac-ngoai-loi-viet.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Ngoại lời Việt</span></a>
<a href="https://hopamviet.vn/sheet/category/6/nhac-do.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Đỏ</span></a>
<a href="https://hopamviet.vn/sheet/category/7/nhac-dan-ca.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Dân ca</span></a>
<a href="https://hopamviet.vn/sheet/category/8/nhac-quoc-te.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Quốc tế</span></a>
<a href="https://hopamviet.vn/sheet/category/9/nhac-hoc-tro.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Học trò</span></a>
<a href="https://hopamviet.vn/sheet/category/10/nhac-thieu-nhi.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Thiếu nhi</span></a>
<a href="https://hopamviet.vn/sheet/category/11/nhac-thanh-ca.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Thánh ca</span></a>
<a href="https://hopamviet.vn/sheet/category/12/nhac-phat-giao.html"><span class="badge badge-pill badge-secondary">Sheet Nhạc Phật giáo</span></a>
</div>
</div>
<a class="btn btn-info btn-block" href="https://hopamviet.vn/chord/request.html" role="button">Nhấn vào đây để yêu cầu hợp âm bài hát</a><br />
<div class="ct-box">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-2439726574577759" data-ad-slot="5017713629"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
</div>
﻿
</div>
<div class="footer">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="float-left">
&copy; 2014 - 2019 <a href="https://hopamviet.vn/">hopamviet.vn</a> /
<a href="/about">Giới thiệu</a> /
<a href="/contact">Liên hệ</a>
</div>
</div>
</div>
</div>
</div>
<script src="https://hopamviet.vn/assets/js/comment.js"></script>
</body>
</html>
